<div class="contact">
  <h2 class="a11y-hidden">Contact</h2>
  <a class="email-addr" href="mailto:eatdesignlove@gmail.com?Subject=Hello, eatdesignlove!">
    <span class="email-addr-text">eatdesignlove@gmail.com</span>
  </a>

  <ul class="sns">
    <li><a class="link__github" href="github.com/eatdesignlove">
      <span class="icon__github"></span>github.com/eatdesignlove</a>
    </li>
    <li><a class="link__twitter" href="tiwtter">
      <span class="icon__twitter"></span>@eatdesignlovee</a>
    </li>
  </ul>
  
</div>
