<div class="skills">
  <h2 class="a11y-hidden">skills</h2>
  <h3 class="title">I Can Do It.</h3>
  <a href="#" class="skill-html">HTML</a>
  <a href="#" class="skill-css">CSS</a>
  <a href="#" class="skill-sass">Sass</a>
  <a href="#" class="skill-javascript">JavaScript</a>
  <a href="#" class="skill-jquery">jQuery</a>
  <a href="#" class="skill-angular">Angular</a>
  <a href="#" class="skill-gulp">Gulp</a>
  <a href="#" class="skill-photoshop">Photoshop</a>
  <a href="#" class="skill-illustrator">Illustrator</a>
  <a href="#" class="skill-sketch">Sketch</a>
</div>
